* {
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
}

.root-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    height: 100vh;
}

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0 15px 0;
    gap: 10vh;
}

.sidenav-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.sidenav-item {
    text-align: center;
    width: 100%;
    color: inherit;
    text-decoration: none;
}

.sidenav-header {
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 12vh;
}

.sidenav-nav {
    font-size: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
}

.sidenav-nav:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.sidenav-nav-current {
    
}

.sidenav-nav:active {
    background-color: rgba(0, 0, 0, 0.1);
}

/* .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
} */

.god {
    width: 100%;
    overflow: hidden;
}

/* .big {
    font-size: 5rem;
    margin: 0 35px;
    text-align: center;
    color: white;
    font-weight: bold;
} */
